.navbar {
  margin-left: 96px;
}

.container-fluid {
  padding: 0;
}

.navbar-nav {
  padding-left: 0px;
}

h1 {
  color: #4aaaa5;
}

.border {
  border-color: #666666;
  border-width: 1px;
  border-style: solid;
  margin-left: 0px;
  margin-right: 0px;
}

body {
  background-image: url(../images/dot-grid.png);
}

.footer {
  background: #666666;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  border-top: 8px #4aaaaf solid;
  height: 10px;
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
}
