.navbar {
    position: relative;
    background: #666666;
    border: #cccccc;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.name {
    background-color: #4aaaa5;
    color: white;
    position: absolute;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    bottom: -22px;
    margin-left: 138px;
    width: 19%;
    height: 40px;
}
.border {
    border-color: #666666;
    border-width: 1px;
    border-style: solid;
    margin-top: 30px;
    margin-left: 138px;
    margin-right: 260px;
}       
.links {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    right: 0;
    top: 15px;  
    left: 707px;
    color: white;
    word-spacing: 4px;  
}
.about {
    color: #4aaaa5;
    margin-left: 140px;
}
.image {
    float: left;
    padding: 0px 10px 10px;
    margin-left: -3px;
}
.content {
    background: #ffffff;
    overflow: auto;
    width: 680px;
    margin-left: 140px;
    margin-right: 240px;
    border-color: #dddddd;  
    image-orientation: left;
    position: relative;
} 
.first {
    margin-right: 0px;
    margin-left: 138px;
    margin-top: 0px;
}
.second {
    margin-left: 0px;
    margin-right: 0px;
}
.third {
    margin-left: 0px;
    margin-right: 0px; 
}
body {
    background-image: url(../images/dot-grid.png);
}
.background {
    background: #ffffff;
    overflow: auto;
    width: 760px;
    margin-left: 130px;
    margin-right: 240px;
    border-color: #dddddd;
}
.footer {
    background: #666666;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 15px;
    text-align: center;
    margin-top: 50px;
    border-top: 8px #4aaaa5 solid;
    height: 40px;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
